body{
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* navbar starts */

.nav-links {
    overflow: hidden;
    list-style: none;
    
  }
  
  .nav-links a {
    float: right;
    display: block;
    color: #19406d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: #021016;
    font-size: 14px;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav-links a.active {
    background-color: #19406d;
    color: white;
    float: left;
    font-weight: bold;
  }
  
  .nav-links .icon {
    display: none;
  }
  
  /* mobile view for navbar */
  @media screen and (max-width: 600px) {
    .nav-links a:not(:first-child) {display: none;}
    .nav-links a.icon {
      float: right;
      display: block;
      background-color: rgb(25, 64, 109);
      color: #fff;
      height: 26px;
      width: 10px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav-links.responsive {position: relative;}
    .nav-links.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-links.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /* navbar ends */

  /* hero starts */

  .hero {
    background-image: 
                        linear-gradient(180deg,
                        rgba(0,0,0,0.4) 0%,
                        rgb(0,0,0,0.9) 100%),
                        url(../images/Lamborghini.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 15px 20px 15px;
    height: 700px;
    color: #fff;
    flex-basis: 100%;
  }

  .hero h1 {
    color: #fff;
    text-align: left;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    padding: 50px 30px 0;
    margin-bottom: 50px;
}

.hero p {
    color: #fff;
    font-size: 0.9rem;
    text-align: left;
    padding: 0 30px;
    width: 600px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background-color: #fff;
    color: #000;
    border: none;
    margin: 20px;
    cursor: pointer;
    font-size: 1.1rem;
    width: 140px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 30px;
}

.button:hover {
    background-color: #19406d;
    color: #fff;
}

/* mobile view for hero */

@media screen and (max-width: 600px) {
  .hero h1 {
    font-size: 40px;
    padding-top: 0;
    line-height: 3rem;
  }
}

@media screen and (max-width: 600px) {
    .hero p {
        color: #fff;
        font-size: 0.9rem;
        text-align: left;
        padding: 0 30px;
        width: 300px;
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

/* hero ends */

.features h1 {
    text-align: center;
    margin-top: 60px;
    text-decoration: underline;
    color: #19406d;
}

.main-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards {
    box-shadow: 0 4px 8px 0 #00000033;
    transition: 0.3s;
    border-radius: 5px;
    width: 250px;
    padding-bottom: 25px;
    margin-top: 40px;
    text-align: center;
}

.card-container button {
  display: inline-block;
  background-color: #19406d;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  width: 100px;
  height: 40px;
  font-size: 13px;
  text-align: center;
  border-radius: 10px;
}

img {
  border-radius: 5px 5px 0 0;
  width: 250px;
  height: 170px;
}

/* about page starts */

.main-title {
  background-image: 
                      linear-gradient(180deg,
                      rgba(0,0,0,0.4) 0%,
                      rgb(0,0,0,0.9) 100%),
                      url(../images/Lamborghini.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 15px 20px 15px;
  height: 400px;
  color: #fff;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-title {
  text-align: center;
}

.about-text h2 {
  text-align: center;
  padding-bottom: 40px;
  color: #19406d;
}

.about-text {
  padding: 100px;
}

.about-text p {
  padding-left: 200px;
  padding-right: 200px;
}

@media screen and (max-width: 600px) {
  .about-text p {
    padding-left: 10px;
    padding-right: 10px;
  }
  
}

@media screen and (max-width: 768px) {
  .about-text p {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* about page ends */

/* contact start */

.contact-title {
  background-image: 
                      linear-gradient(180deg,
                      rgba(0,0,0,0.4) 0%,
                      rgb(0,0,0,0.9) 100%),
                      url(../images/Lamborghini.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 15px 20px 15px;
  height: 400px;
  color: #fff;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-contact h1 {
  text-align: center;
  padding-top: 40px;
  color: #19406d;
}

.container-contact {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.contact-text {
  color: #19406d;
}

.contact-text p {
  font-size: small;
  margin-bottom: 2rem;
}

.contact-form input{
  width: 300px;
  height: 40px;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding-left: 10px;
  border-color: #19406d;
}

.contact-form textarea {
  width: 300px;
  border-radius: 10px;
  padding: 10px 0 0 10px;
  border-color: #19406d;
}

.contact-form button {
  background-color: #19406d;
  color: #fff;
  font-weight: bold;
  width: 315px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 10px;
  margin-top: 0.5rem;
}

@media screen and (max-width: 425px) {
  .container-contact {
    display: block;
    text-align: center;
  }
}
/* contact end */

/* details start */

.main-details h1 {
  background-image: 
                  linear-gradient(180deg,
                  rgba(0,0,0,0.4) 0%,
                  rgb(0,0,0,0.9) 100%),
                  url(../images/Lamborghini.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px 15px 20px 15px;
  height: 500px;
  color: #fff;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.overview {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.overview img {
  height: 50%;
  width: 50%;
  border-radius: 15px;
}

.details-container {
  margin-top: 70px;
}

.details-text h3 {
  font-size: 40px;
  line-height: 0.1px;
}

.details-text span {
  font-size: small;
  font-weight: bold;
}

.details-text p {
  font-size: 14px;
  border-left: 2px solid;
  padding-left: 4px;
  height: 20px;
}

.mini-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
}

.detail-body {
  width: 600px;
  margin-top: 40px;
}

.detail-body p {
  font-size: 13px;
}

.showcase h3 {
  text-align: center;
  margin-top: 40px;
}

.showcase-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.showcase-images img {
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .overview {
    display: block;
    margin: 0 18px 0 20px;
  }
  
  .overview img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 425px) {

  .overview {
    display: block;
    margin: 0 18px 0 20px;
  }
  
  .overview img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
  }
  
  .showcase h3 {
  text-align: center;
}

.showcase-images img {
  border-radius: 10px;
  display: block;
}

.detail-body {
  width: 380px;
  text-align: justify;
}

.details-text h3 {
  font-size: 30px;
}

}

@media screen and (max-width: 375px) {

  .overview {
    display: block;
    margin: 0 18px 0 20px;
  }
  
  .overview img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
  }
  
  .showcase h3 {
  text-align: center;
}

.showcase-images img {
  border-radius: 10px;
  display: block;
}

.detail-body {
  width: 340px;
  text-align: justify;
}

.details-text h3 {
  font-size: 25px;
}

}

/* details end */


.footer{
    background: #19406d;
    color: #fff;
    text-align: center;
    padding: 0.1rem;
    margin-top: 50px;
}

/* footer start */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #19406d;
  float: right;
  margin-right: 20px;
}

/* footer ends */